# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories (if using vendoring)
vendor/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local

# Build folder (jika ada)
build/
dist/

# Log files
*.log

# other
otherfiles/

# ===== UI (Nuxt) =====

# Nuxt dev/build outputs
ui/.output
ui/.data
ui/.nuxt
ui/.nitro
ui/.cache
ui/dist

# Node dependencies
ui/node_modules

# Logs
ui/logs

# Misc
ui/.fleet

# Local env files
ui/.env
ui/.env.*
!ui/.env.example