APP_ENV=
APP_PORT=
SERVER_TIMEOUT=

USER_SERVICE_URL=
PRODUCT_SERVICE_URL=
ORDER_SERVICE_URL=

DB_PORT=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_CONNECT_TIMEOUT=
DB_MAX_OPEN_CONNECTION=
DB_MAX_IDLE_CONNECTION=

JWT_SECRET_KEY=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

REDIS_HOST=
REDIS_PORT=

MIDTRANS_SERVER_KEY=
MIDTRANS_ENVIRONMENT=

PAYMENT_SUCCESS=

GATEWAY_REQUEST_API=
GATEWAY_SECRET_KEY=

INTERNAL_SERVICE_NAME=
INTERNAL_SERVICE_SECRET=