APP_ENV=
APP_PORT=

DB_PORT=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_CONNECT_TIMEOUT=
DB_MAX_OPEN_CONNECTION=
DB_MAX_IDLE_CONNECTION=

JWT_SECRET_KEY=
JWT_ISSUER=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

URL_USERS_SERVICE=
URL_FRONT_END=

SUPABASE_STORAGE_URL=
SUPABASE_STORAGE_KEY=
SUPABASE_STORAGE_BUCKET=

REDIS_HOST=
REDIS_PORT=

GATEWAY_REQUEST_API=
GATEWAY_SECRET_KEY=

INTERNAL_SERVICE_SECRET=
