APP_ENV=
APP_PORT=
SERVER_TIMEOUT=

PRODUCT_SERVICE_URL=
USER_SERVICE_URL=

DB_PORT=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_CONNECT_TIMEOUT=
DB_MAX_OPEN_CONNECTION=
DB_MAX_IDLE_CONNECTION=

JWT_SECRET_KEY=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

REDIS_HOST=
REDIS_PORT=

LATITUDE_REF=
LONGITUDE_REF=

MAX_DISTANCE=

PRODUCT_UPDATE_STOCK=
ORDER_CREATE=
ORDER_PAYMENT_SUCCESS=
ORDER_UPDATE_STATUS=
EMAIL_UPDATE_ORDER_STATUS=
ORDER_STOCK_UNAVAILABLE=

ELASTICSEARCH_HOST=
ELASTICSEARCH_PORT=

GATEWAY_REQUEST_API=
GATEWAY_SECRET_KEY=

INTERNAL_SERVICE_NAME=
INTERNAL_SERVICE_SECRET=
