APP_ENV=
APP_PORT=

DB_PORT=
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
DB_CONNECT_TIMEOUT=
DB_MAX_OPEN_CONNECTION=
DB_MAX_IDLE_CONNECTION=

JWT_SECRET_KEY=

EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_IS_TLS=
EMAIL_SENDING=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

REDIS_HOST=
REDIS_PORT=

GATEWAY_REQUEST_API=
GATEWAY_SECRET_KEY=