APP_PORT=

JWT_SECRET_KEY=

USER_SERVICE_URL=
PRODUCT_SERVICE_URL=
ORDER_SERVICE_URL=
PAYMENT_SERVICE_URL=
NOTIFICATION_SERVICE_URL=

LOG_LEVEL=

RATE_LIMIT_RPS=
RATE_LIMIT_BURST_SIZE=

REDIS_HOST=
REDIS_PORT=

GATEWAY_SECRET_KEY=